{% extends 'AdminBundle::layout.html.twig' %}

{% block pageContainer %}
				<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <i class="fa fa-money"></i>  Cajas <small>Gestor de Cajas</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-money"></i> Cajas
                            </li>
                        </ol>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Abrir Caja
                                    </div><!-- / .panel-heading -->
                                    <div class="panel-body">
                                        <h3>No hay caja Abierta</h3>
                                        <div class="pull-right">
                                            <a class="btn btn-primary" href="javascript:abrirCaja();">Abrir Caja</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Cajas

                                        <div class="pull-right">
                                            <div class="btn-group">
                                                
                                            </div>
                                        </div>
                                    </div><!-- / .panel-heading -->
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table id="tableClientes" class="table table-striped table-bordered table-hover datatable">
                                                <thead>
                                                    <tr>
                                                        <th>id</th>
                                                        <th>Fecha Inicio</th>
                                                        <th class="hidden-xs">Usuario</th>
                                                        <th>Fecha Cierre</th>
                                                        <th class="hidden-xs">Usuario</th>
                                                        <th>Monto</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for caja in cajas %}
                                                    <tr valign="middle">
                                                        <td>{{ caja.id }}</td>
                                                        <td>{{ caja.fechaOp | date('d/m/y H:m:s') }}</td>
                                                        <td class="hidden-xs">{{ caja.personalOp.apellido }}, {{ caja.personalOp.nombre }}</td>
                                                        <td>{% if caja.fechaCl is defined %}{{ caja.fechaCl | date('d/m/y H:m:s') }}{% endif %}</td>
                                                        <td class="hidden-xs">{% if caja.personalCl.nombre is defined %}{{ caja.personalCl.apellido }}, {{ caja.personalCl.nombre }}{% endif %}</td>
                                                        <td>${{ caja.monto }}</td>
                                                    </tr>
                                                {% else %}
                                                    <tr class="warning">
                                                        <td colspan="6"><strong>No se encontraron Cajas</strong></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- / .panel-body -->
                                </div><!-- / .panel -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                
                <!-- Modal Eliminar -->
                <div class="modal fade" id="abrirCaja" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                        <h4 class="modal-title" id="eliminarModalLabel">Abrir Caja</h4>
                      </div>
                      <div class="modal-body">
                        <p>¿Esta seguro que desea abrir una caja?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="{{ path('admin_caja_open') }}" class="btn btn-danger">Abrir</a>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal Eliminar -->

{% endblock %}

{% block stylesheets %}
    <!-- DataTables CSS -->
    {% stylesheets 'bundles/admin/css/plugins/dataTables.bootstrap.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <!-- DataTables JavaScript -->
    {% javascripts
        '@AdminBundle/Resources/public/js/plugins/dataTables/jquery.dataTables.js'
        '@AdminBundle/Resources/public/js/plugins/dataTables/dataTables.bootstrap.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $('.datatable').dataTable();
    
        function abrirCaja(){
            $('#abrirCaja').modal()
        }
    </script>
    
{% endblock %}